.main_container{
    background-image: url("./images/dogBlack.jpg");
    height: 200vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;    
    background-position-y: center;
    position: absolute;
    
}

.main_left_container{
    width: 45vw;
    padding-top: 2rem;
    position: relative;
}

.main_left_container h1{
    color: white;
    text-shadow: 0 0 2px #7a25b6;
    font-size: 4rem;
    margin-bottom: 5%;
}

.main_left_container h3{
    color: white;
    text-align: center;
    text-shadow: 0 0 2px #7a25b6;
    font-size: 1.2rem;
    margin-bottom: 10%;
}

.main_left_container .left_paragraph{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.left_paragraph p{
    color: white;
    text-shadow: 0 0 1px #7a25b6;
    font-size: 1.1rem;
    width: 23rem;
    text-align:left
}


button{ 
    cursor: pointer; 
    border: none;
    position: relative;
    color: white;
    border-radius: 30px;
}

.button_home{
    width: 50%;
    max-width: 300px;
    font-size: 1.2rem; 
    background: none;
    padding: 0.65rem 0.6rem;
    transition: color 0.5s linear;
    z-index: 100;
    border: 0.3rem solid #7e25b6;
    outline: 0.1rem solid #3c173a;
    text-shadow: 0 0 3px #7e25b6;
}

.button_home:hover{
    color: white;
}

.button_home::before,
.button_home::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #7e25b6;
    height: 100%;
    width: 100%;
    transition: transform 0.6s linear;
    z-index: -120;
}

.button_home::before{ transform: rotateY(90deg); }

.button_home::after{ transform: rotateX(90deg); }

.button_home:hover::before,
.button_home:hover::after{ 
    transform: rotate(0);
}